* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #302D31;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  gap: 1rem;
}

.navbar-date-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.navbar-links ul{
  list-style-type: none;
  display: flex;
  gap: 1.5em;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar li .active {
  background-color: #555;
}

.navbar li:hover {
  background-color: #777;
}


.footer {
  background-color: #302D31;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  gap: 1rem;  
}